.platforms-develoment-services{
    background: url(../img/development-services-page/platforms-left-bg.svg) left center, url(../img/development-services-page/platforms-right-bg.svg) right center, rgba(251, 84, 114, 0.05);
    background-repeat: no-repeat; 
    margin-bottom: 40px;
}